<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cheater</title>
    <link rel="stylesheet" href="<%= tmplCssPath %>">
    <!-- <link rel="stylesheet" href="<%= cssPath %>"> -->
    <style type="text/css">
      <%= style %>
    </style>
  </head>
  <body>
    <h1>Cheatah</h1>
    <% var count= 0 %>
    <% selectors.forEach(function (selector) { %>
    <section>
    <h2><%= selector %></h2>
    <div>
      <div style="<%= styleAttr %>"></div>
      <div><%- declarations[count] %></div>
    </div>
    </section>
    <% count++ %>
    <% }) %>
  </body>
</html>
