<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cheater</title>
    <link rel="stylesheet" href="<%= tmplCssPath %>">
    <style type="text/css">
      <%= style %>
      body {
        padding-top: 50px;
      }
      .style-image {
        margin-top: 15px;
      }
      .code-block {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Cheatah</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <% var count= 0 %>
        <% selectors.forEach(function (selector) { %>
        <section>
          <h2><%= selector %></h2>
          <div class="style-image" style="<%= styleAttr %>"></div>
          <div class="code-block">
            <pre><%- declarations[count] %></pre>
          </div>
          <% count++ %>
        <section>
        <% }) %>
        <hr>
      </div>

    </div><!-- /.container -->

  </body>
</html>
